extends ../layout.pug

block content
  .content-wrapper(style='padding-top:0px;')
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 Branch list
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='http://localhost:3000/main') Home
              li.breadcrumb-item.active Update course
      // /.container-fluid
    // Main content
    section.content
      .container-fluid
        .row
          .col-12             
            .card
              // /.card-header
              .card-body
                .row
                    .card-body
                        table#TAB-students.table.table-bordered.table-striped
                            thead
                                tr.text-center
                                    th Mã chi nhánh 
                                    th(style='width: 275px;') Tên
                                    th Số nhà
                                    th Đường 
                                    th Quận huyện
                                    th Tỉnh thành phố
                            tbody 
                                each chinhanh in data
                                    tr.text-center
                                        td= chinhanh.MaCN
                                        td(class="ten")= chinhanh.Ten
                                        td= (chinhanh.Sonha)
                                        td= chinhanh.Duong
                                        td= chinhanh.Quanhuyen
                                        td= chinhanh.Tinhtp


                                                            //-     btn.btn-delete.btn.btn-danger.btn-xs(style="margin-right: 5px", data-id = student.id)

//- block style 
//-     link(rel="stylesheet", href="/create/khoahoc/index.css")
block script 
    script(src="/create/chinhanh/index.js")
